## The following requirements were added by pip freeze:
certifi==2026.1.4
charset-normalizer==3.4.4
idna==3.11
pypandoc_binary==1.16.2
requests==2.32.5
-e git+https://github.com/gchang12/texlooxup_parser.git@51a48816a8e0581edae5f64ba5aa7cd5df4d5e95#egg=texlooxup_parser
urllib3==2.6.2
