@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

main {
  display: flex;
  justify-content: space-around;
}

select {
  height: 20rem;
  border: 1px solid red;
}

option {
  color: white;
}

input[type='search'] {
  background-color: white;
  color: black;
}

menu {
  background-color: white;
  color: darkblue;
  overflow-y: scroll;
  height: 30rem;
}

button {
  border: 1px solid green;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
}

.excerpt-dir::after {
  /* content: ": "; */
}

.excerpt-dir {
  font-weight: bold;
  width: 12rem;
  text-align: left;
}

.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 8rem;
}

form {
  width: 30em;
}

footer {
  display: flex;
  justify-content: space-around;
}

.active-excerpt {
  background-color: yellow;
};
